/*** Cart-Box for CMSimple_XH-Sites ***/
#cartButton {
	border: 2px solid #f60;
	clear: both;
	margin: 2em 0;
	padding: .5em 1em;
	background: #efefef;
	background: rgba(255,255,255,.75);
	color: #333;
}
/***/
.xhsMain {
}
.xhsMain input, .xhsMain textarea, section.xhsScreen input, section.xhsScreen textarea {
	border: 1px solid #ccc !important;
	font-family: inherit !important;
	font-size: 1em !important;
	padding: 0.25em 0.5em !important;
	max-width: 95% !important;
}
.xhsMain select, section.xhsScreen select {
	border: 1px solid #ccc !important;
	font-family: inherit !important;
	font-size: 1em !important;
	padding: .1em .25em !important;
	max-width: 95% !important;
}
.xhsMain option, section.xhsScreen option {
	max-width: 95% !important;
	padding: .1em .25em !important;
}
#xhsOverview {
	margin: 0;
	padding: 0;
}
.xhsMain input[type="checkbox"], section.xhsScreen input[type="radio"] {
	padding: 0 !important;
}
#xhsProductsTable tr:nth-child(odd) {
	background-color: #dfdfdf;
	color: #333;
}
#xhsProductsTable tr:nth-child(even) {
	background-color: #efefef;
	color: #333;
}
input.xhsShopButton, input[type="submit"].xhsShopButton, button.xhsAddCart, button.xhsShopButton {
	background: #f60 !important;
	border: 0 none !important;
	color: #fff !important;
	cursor: pointer !important;
	padding: .25em .5em !important;
	margin: 0 !important;
	font-family: inherit !important;
	font-size: 1em !important;
	white-space: nowrap !important;
}
input.xhsShopButton:hover, button.xhsAddCart:hover, button.xhsShopButton:hover {
	border: 0 none !important;
	background-color: #333 !important;
	background-image: none !important;
}
button.xhsShopButton.xhsCrt {
	display: inline-block !important;
	border-radius: .45em !important;
	color: rgba(255,255,255,.75) !important;
}
input.linkButton {
	border-width: 0;
	background-color: transparent;
	color: navy;
}
input.linkButton:hover {
	cursor: pointer;
	text-decoration: underline;
	color: maroon;
}
#cartButton {
	border: 2px solid #f60;
	clear: both;
	margin: 2em 0;
	padding: .5em 1em;
	background: #efefef;
	background: rgba(255,255,255,.75);
	color: #333;
}
#steps span {
	padding-right: 2em;
}
#xhsCartPreview {
	margin: 0.5em 0 !important;
	text-align: right;
	float: right;
}
#xhsCartPreview a {
	border: 0 !important;
}
table.xhsCartTable {
/* table-layout: fixed; */
}
#xhsCartPreview table {
	width: 100% !important;
}
#xhsCartPreview table td {
	padding-right: 1em;
}
p.warn, #steps span.now {
	font-weight: bold;
	color: teal;
}
label.xhsFormLabel {
	display: block;
	/* float: left; */
	width: 8em;
	padding: .25em 0;
}
label.xhsFormLabelInl {
	display: inline-block;
	padding: 0 .5em 0 1em;
}
input.inline_form, input.data_form {
/* margin-top: 1ex; */
}
input.inline_form {
	width: 4em;
}
input.data_form {
/* width: 19.2em; */
}
input.shorter {
/* width: 14em; */
}
#cart_table {
	height: 20px;
	font-size: inherit;
	width: 100%;
	overflow: hidden;
}
table.cart_table {
	position: relative;
	font-size: inherit;
	width: 100%;
}
table.cart_table td {
	padding: 0;
	margin: 0;
	border: 0;
}
div.tabs form, div.subtabs form, #cart_table form {
	display: inline;
}
div.tabs {
	padding-left: 3ex;
}
div.tabs form input.tab, input.subtab {
	border: 0.3ex #daa520 solid;
	border-top-width: 0.8ex;
	border-bottom-width: 0;
	background-color: white;
	padding: 0;
	margin: 0;
}
div.tabs form input.activeTab, input.activeSubtab {
	border: 1px #9acd32 solid;
	border-bottom-color: white;
	border-top-width: 1.5ex;
	background-color: white;
}
span.price_info {
	font-size: 80%;
}
h2 span.xhsRequired::before, span.xhsRequired label::before {
	content: "\f12a\ " !important;
	font-family: FontAwesome !important;
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%;
	color: #f33;
}
section.xhsScreen {
}
section.xhsScreen ol li, section.xhsScreen ul li {
/*margin-left: 1.5em;
	padding: 0.3ex 0;
	line-height: 1.3;*/
}
section.xhsScreen p.additional {
	font-size: 90%;
	color: #666;
	line-height: 1.2;
}
div.xhsClosed {
	background: #efefef;
	color: #333;
	border: 1px solid #999;
	padding: 1em;
}
div.xhsClosed p:first-child {
	font-size: 1.5em;
}
a.xhsToggleBtn, a.xhsShopButton {
	border: 0 none !important;
	line-height: normal;
	color: #fff !important;
	background: #f60;
	margin: .5em 1em .5em 0;
	padding: .25em .5em;
	display: inline-block;
	text-align: right;
	float: right;
}
a.xhsToggleBtn:hover, a.xhsShopButton:hover {
	border: 0 none !important;
	background: #333;
}
a.xhsShopButton {
	float: none;
}
a.xhsToggleBtn span {
}
div.xhsCatSelSearch {
	clear: both;
	background: #efefef;
	padding: .5em .5em 0 .5em;
	margin: 0;
}
div.xhsCatSel {
	float: left;
	margin: 0 0 0.5em;
}
div.xhsCatSel select, div.xhsInfoBlock select {
/* padding: 0 !important; */
}
div.xhsCatSel option {
/* padding: .25em .5em !important; */
}
div.xhsSearch {
	float: right;
	margin: 0 0 0.5em;
}
.xhsClearB {
	clear: both;
}
h1.xhsCatHeader {
	font-size: 1.25em;
	background: #ccc;
	color: #fff;
	padding: .25em .5em;
	margin: 1em 0;
	text-transform: uppercase;
	text-shadow: none;
}
.xhsMain a, section.xhsScreen a {
	border: 0 !important;
	text-decoration: none !important;
	color: #f60 !important;
}
.xhsMain table, section.xhsScreen table {
	border-collapse: collapse;
	border-spacing: 0;
	/* table-layout: fixed !important; */
	width:100%;
}
form.catSelectBox {
	clear: both;
}
span.srchTrm {
	padding: .1em.25em;
	background: #efefef;
	color: #333;
}
.xhsMain h1, section.xhsScreen h1, h1.xhsProdTitle {
	color: #333;
	clear: both;
	font-size: 1.5em;
	margin: 0 0 .5em 0 !important;
}
.xhsMain h2, section.xhsScreen h2, h2.xhsProdTitle {
	color: #333;
	clear: both;
	font-size: 1.2em;
	margin: 0 0 .5em 0 !important;
}
.xhsMain h3, section.xhsScreen h3 {
	color: #333;
	clear: both;
	font-size: 1.1em;
	margin: 0 !important;
	padding: 0 !important;
}
div.xhsPrevPic {
	width: 33%;
	max-width: 33%;
	float: left;
	margin: 0 1em 1em 0;
}
div.xhsPrevPic img {
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.25);
	max-width: 100% !important;
	width: 100%; /*** disable this for pictures with different sizes ***/
	min-width: 100%; /*** disable this for pictures with different sizes ***/
	height: auto !important;
}
div.xhsPrevPic:empty {
	display: none;
}
article.xhsOverviewPrds {
	border-top: 1px dotted #fff;
	border-bottom: 1px dotted #333;
	margin: 0;
	padding: 1em 0;
	overflow: auto;
}
article.xhsPrdDetails {
	margin: 1em 0;
}
.xhsPrdDetTeaser {
	font-size: 1.1em;
	padding: .5em 0;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 1em 0;
}
.xhsPrdDetTeaser p {
	margin: 0 !important;
	padding: 0 !important;
}
.xhsInfo {
	color: #6CF;
}
div.xhsDetailLink {
	text-align: right;
	margin: 1em 0;
}
div.xhsDetailLink a {
	padding: .25em .5em;
	display: inline-block;
	border: 1px solid #ccc;
	background: #efefef;
	color: #333 !important;
}
div.xhsDetailLink a::before, .xhsHint p::before, p.xhsHint::before {
	content: "\f05a\ " !important;
	font-family: FontAwesome !important;
	font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%;
	color: #69c;
}
div.xhsInfoBlock {
	clear: both;
	text-align: right;
	box-sizing: border-box;
	line-height: normal !important;
	display: inline;
}
div.xhsPrdPrice {
	margin: 1em 0;
}
div.xhsVariantsSelect {
	margin: 1em 0;
}
span.xhsPrdPriceLabel {
	display: inline-block;
	padding: 0.25em;
	font-size: 0.9em;
	color: #999;
}
span.xhsPrdPriceNum {
	font-size: 1.5em;
	color: #000;
	background: #efefef;
	padding: .25em;
	border-radius: .25em;
	border: 1px solid #ddd;
	white-space: nowrap;
}
input.xhsInpAmount {
	width: 1.5em;
	text-align: right;
}
input.xhsContInp {
	width: 95%;
	max-width: 100%;
}
.xhsMain input[type=number] {
	width: 3.0em;
	margin: 0 0 .25em 0;
	text-align: right;
}
/* Remove controls from Firefox */
#xhsOverview input[type=number], .xhsMain input[type=number], section.xhsScreen input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}
/* Re-applies the controls on :hover and :focus */
/*.xhsMain input[type="number"]:hover,
.xhsMain input[type="number"]:focus {
	-moz-appearance: number-input;
	appearance: number-input;
}*/
/* number fields chrome up-down arrows */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 margin: 0;
}
.xhsBadge {
	background-color: #f60;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: .75em;
	font-weight: 700;
	line-height: 1;
	margin: -1.75em 0 0 .25em;
	min-width: 1em;
	padding: .25em .25em;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
#xhsSteps {
/* background: #efefef; */
	/* padding: .5em .5em 0 .5em; */
	/* overflow: auto; */
}
#xhsSteps h1 {
/* color: #f60; */
}
#xhsSteps .xhsStep {
	background: #efefef;
	color: #333;
	text-align: center;
	padding: 0.5em;
	float: left;
	margin: 0 1em 1em 0;
	white-space: nowrap;
	display: inline-block;
	border: 1px solid #ccc;
}
div.xhsNow {
	background: #f60 !important;
	border: 1px solid #f60 !important;
	color: #fff !important;
}
div.xhsStepHint {
	background: #efefef;
	color: #333;
	border: 1px solid #ccc;
	padding: 0.5em;
	margin: 0 0 1em;
}
div.xhsStepHint span {
	color: #69c;
}
table.xhsCartTable td {
	vertical-align: top !important;
	padding: .1em;
}
table.xhsCartTable td p {
	margin: 0 !important;
	padding: 0;
}
td.xhsCnt {
	width: 1.5em;
}
.xhsInl {
	display: inline;
}
button.xhsUpdBtn, button.xhsDelBtn {
	color: #ffb27f;
	background: transparent;
	padding: .25em .5em !important;
	margin: 0 !important;
	border: 0 !important;
	cursor: pointer;
}
button.xhsUpdBtn:hover, button.xhsDelBtn:hover {
	color: #fff;
	background: #f60;
}
hr.xhsHr1 {
	border: none;
	border-top: 1px solid #999;
	color: transparent;
	background-color: transparent;
	height: 1px;
	margin: .25em 0;
}
hr.xhsHr2 {
	color: #999 !important;
	border: 2px solid #999 !important;
	margin: .5em 0;
}
tr.xhsSum {
	font-size: 1.2em;
}
.xhsHint {
	/* font-size: 0.9em; */
	color: #999;/* text-align: center; */
}
td.xhsMoneyCell {
	text-align: right;
	white-space: nowrap;
	/*vertical-align: middle !important;*/
	width: 5em !important;
}
td.xhsTdR {
	text-align: right;
}
a.xhsAgbLnk {
	text-decoration: underline !important;
	color: #f60 !important;
}
.xhs100 {
	width: 100%;
}
.xhsLightColor {
	color: rgba(255, 255, 255, 0.75);
}
textarea[name="annotation"] {
	width: 95%;
	height: 6em;
}
.xhsRght {
	float: right;
}
.xhsLft {
	float: left;
}
.xhsDl dt {
	color: #999;
	/*border-bottom: 1px solid #ccc;*/
	display: inline-block;
	margin: .25em 0;
}
.xhsDl dd {
	margin: 0 0 0 1em;
}
span.xhsVatInf {
	color: #999;
	font-size: .8em;
	width: 5em;
	display: inline-block;
}
/*** BACKEND ***/
#xhsPreviewPic img, #xhsImage img {
	max-width: 100px !important;
	vertical-align: top !important;
}
#xhsProductsTable {
/* table-layout: fixed; */
}
.xhsTable td, #xhsProductsTable td {
	padding: .25em
}
td.xhsTdTop {
	vertical-align: top;
}
button.xhsProdUp, button.xhsProdDown {
	background: transparent !important;
	border: 0 !important;
	color: #666 !important;
	cursor: pointer !important;
	margin: 0 !important;
	padding: 0.25em !important;
}
button.xhsProdUp:hover, button.xhsProdDown:hover {
	background: #f60 !important;
	color: #fff !important;
}
.xhsErr {
	color: #F30;
}
ul.xhsUL {
	margin: 0 !important;
}
div.xhsErrors {
	background: #fff;
	color: #333;
	padding: .5em 1em;
	border: 3px solid #f60;
	display: block;
	clear: both;
	margin: 1em 0;
	box-sizing: border-box;
}
div.xhsErrors h1 {
	color: #f60;
}
div.xhsErrors h1::before {
	content: "\f071\ " !important;
	font-family: FontAwesome !important;
	/*font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%;*/
	color: #f60;
}
a.xhsCosLnk {
	color: #f60 !important;
}
a.xhsCosLnk::after {
	content: "\ \f0f6" !important;
	font-family: FontAwesome !important;
	/*font-size: 1.33333em;
	line-height: 0.75em;
	vertical-align: -15%;*/
}
ul.xhsCatMenu {
	margin: .5em 0 0 0;
}
ul.xhsCatMenu li {
	border: 0 !important;
}
ul.xhsCatMenu li:last-child a {
	border: 0 !important;
}
ul.xhsCatMenu li.xhsActiveCat a, ul.xhsCatMenu li.xhsActiveCat:last-child a {
	color: #f60 !important;
}
